{% extends 'base.html' %}
{% block content %}
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">글 번호</th>
        <th scope="col">제목</th>
        <th scope="col">영화 이름</th>
        <th scope="col">평점</th>
        <th scope="col">생성시간</th>
        <!-- <th scope="col">수정시간</th> -->
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
        <tr>
          <th scope="row" class="col-md-1">{{ review.pk }}</th>
          <td class="col-md-6">
            <a href="{% url 'review:detail' review.pk %}">{{ review.title }}</a>
          </td>
          <td class="col-md-2">{{ review.movie_name }}</td>
          <td class="col-md-1">{{ review.grade }}</td>
          <td class="col-md-2">{{ review.created_at|date:'y년 m월 d일' }}</td>
          <!-- <td class="col-md-1">{{ review.updated_at|date:'y년 m월 d일' }}</td> -->
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex justify-content-end mb-5">
    <a class="btn btn-outline-primary float-right" href="{% url 'review:new' %}" role="button">리뷰 작성</a>
  </div>

{% endblock %}
